.moviePageContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
}

.moviePageImageContainer {
    border-radius: 8px;
    min-width: 25rem;
}

@media screen and (max-width: 780px) {
    .moviePageImageContainer {
        min-width: 10rem;
    }
}

.moviePageInfoContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

.titleLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
}

.infoLines {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0 2rem 0;
}

.message {
    margin-top: 1rem;
    line-height: 1.5rem;
}

.biggerText {
    font-size: 1.25rem;
}
